@model List<Eletro>

<h1>Lista de Eletrodomésticos</h1>

<table border="1" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>ConsumoEnergetico</th>
            <th>Detalhes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var eletrodomestico in Model)
        {
            <tr>
                <td>@eletrodomestico.Marca</td>
                <td>@eletrodomestico.Modelo</td>
                <td>@eletrodomestico.ConsumoEnergetico</td>

                <td>@eletrodomestico.ExibirDetalhes()</td>
            </tr>
        }
    </tbody>
</table>